body{
  background-color:rgb(245, 252, 229) ;
}

#nome{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#foto{
  width: 300px;
}
.desc{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
strong{
  font-style: italic;
}
.hab1{
  font-size: 22px;
}
.hab2{
  font-size: 21px;
}
.hab3{
  font-size: 20px;
}
.hab4{
  font-size: 19px;
}
.hab5{
  font-size: 18px;
}
.hab6{
  font-size: 17px;
}
.hab7{
  font-size: 16px;
}
.hab8{
  font-size: 15px;
}
.photo{
  display: inline-block;
  width: 20%;  
}
.description{
  display: inline-block;  
  position: absolute;
}
.name{
  text-align: center;
}